.button-group {
    text-align: center;
}

h1 {
    color: black;
    text-align: center;
}

h2 {
    text-align: center;
    color: black;
}

h3 {
    text-align: center;
    color: black;
}

p {
    color: black;
    text-align: center;
    font-size: 20px;
}

body {
    background: linear-gradient(
        to right,
        grey 0%,
        white 25%,
        grey 37.5%,
        white 50%,
        grey 62.5%,
        white 75%,
        grey 100%
    );
}

.footer {
    text-decoration-color: blue;
}

h5 {
    color: black;
    text-align: center;
}

a {
    color: blue;
}

a:hover {
    text-decoration: none;
    color: blue;
}
